//Colors
$defaultBackgroundColor: #c1c1c1;
$formBackgroundColor: #f5f5f5;
$blue: #1979c3;
$red: #bb0f40;
$defaultFontColor: #5f5f5f;
$mainPageBackgroundColor: #e7eaf2;
//Fonts
$defaultFont: Arial, sans-serif;
$bodyFont: Arial, sans-serif;